
<header id="sh_hd">
    <div class="sh_lnb_bg"></div>
    <div id="sh_hd_wrapper">
        
        <div id="shGnb" class="main">  
            <div class="sh_logo">
                <a href="index"><img src="/resources/img/common/logo.png" alt=""></a>
            </div>
            <nav class="sh_nav">
                <ul>
                    <li>
                        <a href="portfolio">사업안내</a>
                        <ul class="sh_lnb_s">
                            <li><a href="portfolio">PORTFOLIO</a></li>
                            <!-- <li><a href="">NEWS</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="pricingInfo">가격안내</a>
                        <ul class="sh_lnb_s">
                            <!-- <li><a href="">준비중</a></li> -->
                            <!-- <li><a href="">소분류</a></li>
                            <li><a href="">소분류</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="aboutCompany">회사소개</a>
                        <ul class="sh_lnb_s">
                            <li><a href="aboutCompany">회사소개</a></li>
                            <li><a href="companyHistory">연혁</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="customerCenter">고객지원</a>
                        <ul class="sh_lnb_s">
                            <!-- <li><a href="">고객센터</a></li> -->
                            <li><a href="notice">공지사항</a></li>
                            <li><a href="inquiry">문의하기</a></li>
                            <!-- <li><a href="">오시는 길</a></li> -->
                        </ul>
                    </li>
                    <li><% if (isLoggedIn) { %>
                            <a href="logout">로그아웃</a>
                            <ul class="sh_lnb_s">
                                <!-- <li><span class="user-info"><%= user.username %>님</span></li> -->
                                <!-- 필요한 경우 마이페이지 등 추가 메뉴
                                <li><a href="/mypage">마이페이지</a></li>
                                -->
                            </ul>
                        <% } else { %>
                            <a href="login">로그인</a>
                        <% } %>
                    </li>
                </ul>
            </nav>
            <!-- <div id="pfBtn">
                <span></span>
            </div> -->
            <div id="pfWrap">
                <div class="bg_wrap"><div class="bg"></div></div>
                <div class="pf_cate_wrap">
                    <div class="pf_cate">
                        <ul>
                            <li>
                                <a href="portfolio">사업안내</a>
                                <ul class="sh_lnb_s">
                                    <li><a href="portfolio">PORTFOLIO</a></li>
                                    <!-- <li><a href="">NEWS</a></li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="pricingInfo">가격안내</a>
                                <ul class="sh_lnb_s">
                                    <!-- <li><a href="">소분류</a></li>
                                    <li><a href="">소분류</a></li>
                                    <li><a href="">소분류</a></li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="aboutCompany">회사소개</a>
                                <ul class="sh_lnb_s">
                                    <li><a href="aboutCompany">회사소개</a></li>
                                    <li><a href="companyHistory">연혁</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="customerCenter">고객지원</a>
                                <ul class="sh_lnb_s">
                                    <li><a href="notice">공지사항</a></li>
                                    <li><a href="inquiry">문의하기</a></li>
                                    <!-- <li><a href="">오시는 길</a></li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="login">로그인</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>	

        <!-- 반응형메뉴 [s] -->
        <div id="topmenuM">
            <h1 id="m_logo"><a href="index"><img src="/resources/img/common/logo.png" alt="" /></a></h1>
            <!-- 메뉴 버튼 -->
            <div id="m_navBtn"><span></span></div>
            <!-- 오픈 메뉴 -->
            <div id="navWrap">
                <div class="inner">
                    <ul class="m_lnb">
                        <li>
                            <button class="m_bmenu" type="button">사업안내</button>
                            <ul class="m_smenu">
                                <li><a href="portfolio">PORTFOLIO</a> </li>
                                <!-- <li><a href="">NEWS</a></li> -->
                            </ul>
                        </li>
                        <li>
                            <button class="m_bmenu" type="button">가격안내</button>
                            <ul class="m_smenu">
                                <li><a href="pricingInfo">가격안내</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="m_bmenu" type="button">회사소개</button>
                            <ul class="m_smenu">
                                <li><a href="aboutCompany">회사소개</a> </li>
                                <li><a href="companyHistory">연혁</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="m_bmenu" type="button">고객지원</button>
                            <ul class="m_smenu">
                                <li><a href="customerCenter">고객지원</a> </li>
                                <li><a href="notice">공지사항</a> </li>
                                <li><a href="inquiry">문의하기</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="m_bmenu" type="button"><a href="login">로그인</a></button>
                        </li>
                    </ul> 
                    <!-- <p class="mo_hd_copy">ⓒ Sample</p>          -->
                </div>
            </div>
        </div>
        <!-- 반응형메뉴 [e] -->
    </div>           
</header>